---
import Layout from "../layouts/Layout.astro";
import { LoginForm } from "../components/auth/loginForm";
---

<Layout title="Streamdal Embedded Console - Login" hideNav={true}>
  <main>
    <LoginForm client:load client:only />
  </main>
</Layout>
