---
import { NavBar } from "../components/nav/navBar";
export interface Props {
  title: string;
  hideNav?: boolean;
}

const { title, hideNav } = Astro.props;
import "../styles/global.css";
import React from "react";
import { RuleSetAddEdit } from "../components/rules/rulesetAddEdit";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Streamdal Embedded Console" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-screen">
    <div class="flex flex-col w-full text-web">
      {hideNav ? null : <NavBar client:load client:only />}
      <div class="m-6">
        <slot />
      </div>
    </div>
  </body>
</html>
